
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chart - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/Admin/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="/Admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Admin/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Admin/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/Admin/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Admin/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="/Admin/assets/css/typography.css">
    <link rel="stylesheet" href="/Admin/assets/css/default-css.css">
    <link rel="stylesheet" href="/Admin/assets/css/styles.css">
    <link rel="stylesheet" href="/Admin/assets/css/responsive.css">
    <!-- modernizr css -->
<<<<<<< HEAD
    <script src="../Admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
=======
    <script src="/Admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <script src="@Url.Content("~/baseUrl.js")"></script>

>>>>>>> 4fdf125d89ec21c04b3ae2ef32e44489ff1df540
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        @await Html.PartialAsync("PartialMenu")
        <!-- sidebar menu area end -->
        
        <!-- main content area start -->
        <div class="main-content">
            
            <!-- page title area start -->
            @RenderBody()          
            <!-- page title area end -->
            
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="/Admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="/Admin/assets/js/popper.min.js"></script>
    <script src="/Admin/assets/js/bootstrap.min.js"></script>
    <script src="/Admin/assets/js/owl.carousel.min.js"></script>
    <script src="/Admin/assets/js/metisMenu.min.js"></script>
    <script src="/Admin/assets/js/jquery.slimscroll.min.js"></script>
    <script src="/Admin/assets/js/jquery.slicknav.min.js"></script>
    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- start amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- all line chart activation -->
    <script src="/Admin/assets/js/line-chart.js"></script>
    <!-- all bar chart activation -->
    <script src="/Admin/assets/js/bar-chart.js"></script>
    <!-- all pie chart -->
    <script src="/Admin/assets/js/pie-chart.js"></script>
    <!-- others plugins -->
    <script src="/Admin/assets/js/plugins.js"></script>
    <script src="/Admin/assets/js/scripts.js"></script>
</body>

</html>

