
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="../Admin/assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="#" aria-expanded="true"><i class="ti-dashboard"></i><span>Bảng điều khiển</span></a>
                    </li>          
                    <li>
                        <a href="#" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Thể loại</span>
                        </a>                      
                    </li>                    
                </ul>
            </nav>
        </div>
    </div>
</div>