
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="index.html"><img src="/Admin/assets/images/icon/logo.png" alt="logo"></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/admin" aria-expanded="true"><i class="ti-dashboard"></i><span>Bảng điều khiển</span></a>
                    </li>   
                    <li>
                        <a href="#" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Quản lý truyện</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/genre" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Quản lý thể loại</span>
                        </a>                      
                    </li>   
                    <li>
                        <a href="#" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Quản lý thẻ</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Quản lý tài khoản</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-expanded="true">
                            <i class="fa fa-table"></i>
                            <span>Quản lý dịch vụ</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="@Url.Content("~/admin/ajax/menu.js")"></script>